{% render 'partials/head.liquid' %}

<body>

  {% render 'partials/nav.liquid' %}

  <section class="intro">
    <h1>I Love Web</h1>
    <h3>Colin de Groot</h3>
  </section>

  <h2>GitHub Repositories</h2>

  <ul class="git-repos">
    {% for repo in repos limit:10 %}

    <li class="repo">
      <a class="repo-link" href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a>
      <p class="repo-description">{{ repo.description }}</p>
      <small class="reo-updated"> Last updated: <time datetime="{{ repo.updated_at }}">{{ repo.updated_at }}</time></small>
    </li>

    {% else %}
    <li>No Repos found!</li>
    {% endfor %}

  </ul>



  <main class="content">
    <h2>Journal</h2>

    <div class="slide-container">
      {% for file in files %}
      <article class="semesters">
        <h2 class="article-head">{{ semester.slug }} </h2>
        <p class="article-body">info volgt nog...</p>
        <a href="/journal/{{file}}">{{file| slice: 0,-5 }}</a>
      </article>
      {% endfor %}
    </div>

  </main>

</body>

</html>