{% render 'partials/head.liquid'%}

<section class="intro">
        <h1>Learning journal {{ semester.slug | slice: 0,-5 }} </h1>
        <p>Hier vind je een overzicht van de dingen die ik heb geleerd in dit semester. </p>
</section>


<section class="layout">
  {% for entry in data %}

    <article class="noteofday">
        <h3>{{ entry.date }}</h3>
        <p>{{ entry.title }}</p>
      {% for block in entry.contentBlocks %}

        <div >
          <p>{{ block.content }}</p>

          {% if block.listTitle %}
            <h4>{{ block.listTitle }}</h4>
          {% endif %}
  
          {% if block.listItems %}
            <ul>
              {% for item in block.listItems %}
                <li>{{ item }}</li>
              {% endfor %}
            </ul>
          {% endif %}

        </div>

      {% endfor %}
    </article>

  {% endfor %}
</section>

